.subtitle {
    font-size: 18px;
}

.ckeditor {
    ul {
        padding-left: 40px !important;
        list-style-type: initial !important;
    }

    li {
        list-style-type: initial !important;
    }
}