.title {
    margin-bottom: -10px;
}

.subtitle {
    margin-top: 20px;
    font-size: 18px;
}

.submit {
    margin-top: 20px;
    margin-bottom: 40px;

    button, a {
        margin-top: 10px;
    }
}

.aftereditor {
    margin-top: 40px;
}

.ckeditor {
    ul {
        padding-left: 40px !important;
        list-style-type: initial !important;
    }

    li {
        list-style-type: initial !important;
    }
}