<div class="container">
  <div class="row">
    <div class="col s12">
        <h3 class="header detail-title teal-text center-on-mobile">Benutzerprofil</h3>
    </div>
    <div class="col s12 center-on-mobile">
      <h4 class="light">{{user.firstname}} {{user.lastname}}</h4>
      <p class="flow-text">{{user.email}}</p>
      <p class="flow-text">{{user.phone}}</p>
    </div>
    <div class="col s12 buttons center-on-mobile">
      <a class="btn waves-effect waves-light" routerLink="/settings"><i class="material-icons left">edit</i>Bearbeiten</a>
      <a class="btn waves-effect waves-light" routerLink="/password"><i class="material-icons left">enhanced_encryption</i>Passwort ändern</a>
      <a class="btn waves-effect waves-light red" routerLink="/login"><i class="material-icons left">power_settings_new</i>Logout</a>
    </div>
  </div>
  <div class="divider"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="teal-text header center-on-mobile">Meine nächsten Trainings</h4>
    </div>
  </div>

  <div class="row event-cards">
    <div *ngFor="let event of events" >
      <div class="col s12">
          <app-event-list-item [event]="event"></app-event-list-item>
      </div>
    </div>

    <div class="col s12 center-on-mobile" *ngIf="noEvents">
      <span class="flow-text">Du bist für keine Trainings oder Termine angemeldet!</span>
    </div>
  </div>
</div>
