<div class="parallax top d-none d-lg-flex">
  <div
    class="container d-flex flex-column align-items-center justify-content-center"
  >
    <h1 class="teal-text mat-headline-3 parralax-title">
      Functional Fitness for Everybody
    </h1>
    <h1 class="white-text parralax-subtitle mt-3">
      &laquo;Welcome to Crossthenature.&raquo;
    </h1>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-12 text-center text-md-start">
      <h1 class="teal-text">Herzlich Willkommen</h1>
    </div>
    <div class="col-12 flow-text text-center text-md-start">
      Herzlich Willkommen bei Crossthenature! Unser Training beinhaltet Kraft-,
      Ausdauer-, Mobilitäts- und Koordinationsübungen. Den Teilnehmern werden
      keine sportlichen Anforderungen gestellt. Wichtig ist, dass du kommst und
      mitmachst. Es ist unser Job dich fit zu machen.
    </div>

    <div class="col-12 flow-text text-center my-4">
      <a routerLink="/information" class="black-text">Weitere Informationen</a>
    </div>
  </div>
</div>

<div class="parallax secondary">
  <div class="container h-100">
    <div class="row d-flex justify-content-between align-items-center h-100">
      <div class="col-12 col-lg-9 text-center text-lg-start">
        <h2 class="header white-text parralax-subtitle">
          Interessiert? Jetzt zum Probetraining anmelden!
        </h2>
      </div>
      <div
        class="col-12 col-lg-3 justify-self-end text-center text-lg-end mb-4 mb-lg-0"
      >
        <button
          mat-flat-button
          color="primary"
          [routerLink]="['/events']"
          [queryParams]="{ probetraining: 'true' }"
          class="btn"
        >
          ZUR ANMELDUNG
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row d-flex flex-column">
    <div class="col-12 d-flex justify-content-center justify-content-lg-start">
      <h1 class="header teal-text">Sponsoren</h1>
    </div>
    <div
      class="col-12 flow-text d-flex justify-content-center justify-content-lg-start"
    >
      Herzlichen Dank an unsere T-Shirt Sponsoren!
    </div>
    <div class="d-flex flex-column flex-lg-row justify-content-between">
      <div class="image d-flex justify-content-center mt-4">
        <div class="align-self-center">
          <a href="https://www.i-restore.ch/" target="_blank"
            ><img src="../../../assets/img/logos/irestore.png"
          /></a>
        </div>
      </div>
      <div class="image d-flex justify-content-center mt-4">
        <div class="align-self-center">
          <a
            href="https://www.volkswagen-nutzfahrzeuge.ch/de.html"
            target="_blank"
            ><img class="vw" src="../../../assets/img/logos/vw.png"
          /></a>
        </div>
      </div>
      <div class="image d-flex justify-content-center mt-4">
        <div class="align-self-center">
          <a href="http://www.angiologie-aargau.ch/" target="_blank"
            ><img src="../../../assets/img/logos/gefaessmedizin.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
