<div class="container password">
  <div class="row">
    <div class="col s12 l8 offset-l2">
        <h3 class="header detail-title teal-text center-on-mobile">Passwort ändern</h3>
    </div>

    <form novalidate (ngSubmit)="passwordForm.valid && changePassword()" [formGroup]="passwordForm" class="col s12 l8 offset-l2">
        <div class="input-field col s12">
          <input id="oldPassword" formControlName="oldPassword" type="password" [(ngModel)]="passwordold" [class.valid]="passwordForm.controls['oldPassword'].valid" [class.invalid]="passwordForm.controls['oldPassword'].touched && !passwordForm.controls['oldPassword'].valid">
          <label class="light" for="oldPassword">Altes Passwort</label>
        </div>
        <div class="input-field col s12">
          <input id="password" formControlName="password" type="password" [(ngModel)]="passwordnew" [class.valid]="passwordForm.controls['password'].valid" [class.invalid]="passwordForm.controls['password'].touched && !passwordForm.controls['password'].valid">
          <label class="light" for="password">Neues Passwort</label>
        </div>
        <div class="input-field col s12">
          <input id="confirmPassword" formControlName="confirmPassword" type="password" [class.valid]="passwordForm.controls['confirmPassword'].valid" [class.invalid]="passwordForm.controls['confirmPassword'].touched && !passwordForm.controls['confirmPassword'].valid">
          <label class="light" for="confirmPassword">Passwort bestätigen</label>
        </div>
        <div class="col s12 center-on-mobile button center-on-mobile">
          <button class="btn" [class.disabled]="!passwordForm.valid" type="submit" name="action">Passwort ändern</button>
          <a class="btn waves-effect waves-light red" (click)="goBack()">Abbrechen</a>
        </div>
    </form>
  </div>
</div>  