.parallax {
    background-image: url("../../../assets/img/crossfit-index-detail.jpg");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;

    h1 {
        margin-top: 0px;
        padding-top: 125px;
    }
}

// News-Cards
.news {
    margin-top: 20px;
  
    .news-cards {
      margin-top: 10px;

      .content {
          margin-top: 10px;
          
          ul {
              padding-left: 40px !important;
              list-style-type: initial !important;
          }
  
          li {
              list-style-type: initial !important;
          }
      }
    }
  
    .load {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a {
        color:#000;
        text-decoration: underline;
        cursor: pointer;
    }

    .spinner {
        margin-top: 20px;
        margin-bottom: 4px;
    }
  }