<div class="parallax hide-on-med-and-down">
    <div class="container">
      <h1 class="header center teal-text">News</h1>
      <div class="row center">
        <h5 class="header white-text col s12 light">&laquo;Wenn du alles gibst, kannst du dir nichts vorwerfen.&raquo;</h5>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col s12 center">
          <h4 class="header teal-text center-on-mobile">Coming soon...</h4>
      </div>
    </div>
  </div>  