html {
  height: 100%; }

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%; }

#login-pane {
  width: 100%;
  height: 150px;
  display: none; }

nav {
  height: 110px;
  line-height: 110px; }
  nav .nav-desktop ul li {
    line-height: 40px;
    margin-top: 35px;
    margin-left: 25px; }
  nav .nav-desktop ul a {
    font-size: 20px;
    position: relative;
    color: #444;
    text-decoration: none;
    padding: 0 5px; }
  nav .nav-desktop ul a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #249287;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
  nav .nav-desktop ul a.selected:before {
    visibility: visible;
    transform: none; }
  nav .nav-desktop ul a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  nav .nav-desktop ul a:hover {
    background-color: transparent; }
  nav .nav-wrapper i {
    height: 110px;
    line-height: 110px;
    margin-left: 0px; }
  nav .nav-wrapper i.login {
    margin-left: 10px;
    margin-top: -36px; }
  nav a.button-collapse {
    color: #249287; }
    nav a.button-collapse i {
      font-size: 30px; }
  nav .side-nav i.material-icons {
    padding-right: 160px; }
  nav .side-nav .collapsible-header {
    padding: 0 32px; }
    nav .side-nav .collapsible-header i {
      padding-right: 110px; }
  nav .side-nav .collapsible-body a {
    padding-left: 50px; }

#index-banner {
  height: 400px; }
  #index-banner .section {
    width: 100%; }

.events {
  margin-top: 20px; }
  .events .card-panel {
    position: relative; }
    .events .card-panel .registrations i {
      vertical-align: middle; }
    .events .card-panel .registrations .material-icons {
      margin-right: 10px; }
    .events .card-panel .register {
      position: absolute;
      right: 18px;
      bottom: 10px; }

.details {
  margin-top: 20px; }
  .details .button-anmeldung {
    height: 120px; }
    .details .button-anmeldung .btn {
      margin: auto; }
  .details .detail-title {
    margin-bottom: 0; }
  .details .detail-subtitle {
    line-height: 32px; }
  .details .tab-container {
    margin-top: 40px; }
    .details .tab-container .tab-content {
      padding-top: 40px; }
      .details .tab-container .tab-content .collection .collection-item.avatar {
        min-height: 60px; }
        .details .tab-container .tab-content .collection .collection-item.avatar img {
          top: 9px; }
      .details .tab-container .tab-content .input-field {
        margin-top: 40px; }
      .details .tab-container .tab-content a {
        margin-top: 20px; }

@media only screen and (max-width: 992px) {
  .center-on-mobile {
    text-align: center !important; } }

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  .page-footer .copyright {
    margin-right: 10px; }
  .page-footer .data {
    margin-right: 10px; }
  .page-footer .icons img {
    margin-left: 10px; }

blockquote {
  border-left: 5px solid #249287; }

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #249287; }

.tabs .tab a {
  color: #44ccbe;
  font-weight: 400; }
  @media only screen and (min-width: 360px) {
    .tabs .tab a {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 435px) {
    .tabs .tab a {
      font-size: 0.918rem; } }
  @media only screen and (min-width: 510px) {
    .tabs .tab a {
      font-size: 0.936rem; } }
  @media only screen and (min-width: 585px) {
    .tabs .tab a {
      font-size: 0.954rem; } }
  @media only screen and (min-width: 660px) {
    .tabs .tab a {
      font-size: 0.972rem; } }
  @media only screen and (min-width: 735px) {
    .tabs .tab a {
      font-size: 0.99rem; } }
  @media only screen and (min-width: 810px) {
    .tabs .tab a {
      font-size: 1.008rem; } }
  @media only screen and (min-width: 885px) {
    .tabs .tab a {
      font-size: 1.026rem; } }
  @media only screen and (min-width: 960px) {
    .tabs .tab a {
      font-size: 1.044rem; } }
  @media only screen and (max-width: 360px) {
    .tabs .tab a {
      font-size: 1.2rem; } }

.tabs .indicator {
  background-color: #249287; }

.flow-text {
  font-weight: 300; }
  @media only screen and (min-width: 360px) {
    .flow-text {
      font-size: 1rem; } }
  @media only screen and (min-width: 435px) {
    .flow-text {
      font-size: 1.02rem; } }
  @media only screen and (min-width: 510px) {
    .flow-text {
      font-size: 1.04rem; } }
  @media only screen and (min-width: 585px) {
    .flow-text {
      font-size: 1.06rem; } }
  @media only screen and (min-width: 660px) {
    .flow-text {
      font-size: 1.08rem; } }
  @media only screen and (min-width: 735px) {
    .flow-text {
      font-size: 1.1rem; } }
  @media only screen and (min-width: 810px) {
    .flow-text {
      font-size: 1.12rem; } }
  @media only screen and (min-width: 885px) {
    .flow-text {
      font-size: 1.14rem; } }
  @media only screen and (min-width: 960px) {
    .flow-text {
      font-size: 1.16rem; } }
  @media only screen and (max-width: 360px) {
    .flow-text {
      font-size: 1.2rem; } }
