<div class="container administration-overview">
  <div class="row">
    <div class="col s12">
        <h3 class="header teal-text center-on-mobile">Administration</h3>
    </div>
    <div class="col s12">
      <h5 class="header center-on-mobile">Nächste Events</h5>
    </div>
  </div>
  
  <div class="divider"></div>

  <div class="next-events" *ngFor="let event of nextEvents">
    <app-next-event [event]="event"></app-next-event>
  </div>

  <div class="row">
    <div class="col s12">
      <h5 class="header center-on-mobile">Alle Bereiche</h5>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row other-areas">

    <div class="col s12 l6">
      <div class="card-panel grey lighten-5">
        <div class="card-content black-text center">
          <a [routerLink]="['/admin-event']">
            <h4 class="title teal-text">Termine</h4>
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 l6">
      <div class="card-panel grey lighten-5">
        <div class="card-content black-text center">
          <a [routerLink]="['/admin-user']">
            <h4 class="title teal-text">Mitglieder</h4>
          </a>
        </div>
      </div>
    </div>
    
    <div class="col s12 l6">
      <div class="card-panel grey lighten-5">
        <div class="card-content black-text center">
          <a href="#">
            <h4 class="title teal-text">Statistiken</h4>
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 l6">
      <div class="card-panel grey lighten-5">
        <div class="card-content black-text center">
            <a href="#">
            <h4 class="title teal-text">...</h4>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container" *ngIf="noEvents">
  <div class="row">
    <div class="col s12 center-on-mobile">
      <p class="flow-text">Es gibt zurzeit leider keine Termine!</p>
    </div>
  </div>
</div>

<div class="container spinner" *ngIf="!nextEvents.length && !noEvents">
  <div class="row center">
    <mz-spinner
      [size]="'big'">
    </mz-spinner>
  </div>
</div>