<div class="container password">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <h3 class="header detail-title teal-text center-on-mobile">
        Passwort ändern
      </h3>
    </div>

    <form
      (ngSubmit)="passwordForm.valid && changePassword()"
      [formGroup]="passwordForm"
      class="col-12 col-lg-8 offset-lg-2"
    >
      <mat-form-field class="col-12">
        <mat-label>Altes Passwort</mat-label>
        <input
          matInput
          required
          formControlName="oldPassword"
          id="oldPassword"
          name="oldPassword"
          type="password"
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Neues Passwort</mat-label>
        <input
          matInput
          required
          formControlName="password"
          id="password"
          name="password"
          type="password"
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Passwort bestätigen</mat-label>
        <input
          matInput
          required
          formControlName="confirmPassword"
          id="confirmPassword"
          name="confirmPassword"
          type="password"
        />
      </mat-form-field>

      <div class="col-12 text-center text-lg-start">
        <button
          mat-flat-button
          color="primary"
          class="btn"
          [class.disabled]="!passwordForm.valid"
          type="submit"
          name="action"
        >
          Passwort ändern
        </button>
        <button
          mat-flat-button
          color="secondary"
          class="btn"
          type="button"
          (click)="goBack()"
        >
          Abbrechen
        </button>
      </div>
    </form>
  </div>
</div>
