.register {
    margin-left:15px;
    
    a {
        color: #000;
        text-decoration: underline;
    }
}

.error {
    margin-top: 30px;
    color: #F44336;    
    
    a {
        text-decoration: underline;
    }
}


