<div class="container login">
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <h2 class="header light detail-title teal-text center-on-mobile">Login</h2>
    </div>

    <form class="col s12 l6 offset-l3">
      <div class="login-container">
        <mat-form-field>
          <input matInput placeholder="E-Mail">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Passwort">
        </mat-form-field>
      </div>
      <div class="col s12 center-on-mobile">
        <a class="waves-effect waves-light btn">Login</a>
      </div>
    </form>
  </div>
</div>