.parallax-top {
    background-image: url("../../../assets/img/background/CrossTheNature.jpg");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        margin-top: 0px;
        padding-top: 160px;
    } 

    h5 {
        margin-top: -25px;
    }
}

.parallax-probe {
    background-image: url("../../../assets/img/background/CrossTheNature.jpg");
    min-height: 160px; 
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.probe-container {
    min-height: 160px;
}

.team {
    margin-top: 20px;

    .header {
        margin-bottom: 40px;
    }

    .member {
        margin-top: 10px;

        img {
            width: 60%;
        }
        
        .text {
            width: 60%;
            margin: auto;

            span {
                display: block;
            }
        }
        
        @media only screen and (max-width: 992px) {
            
            img {
                width: 100%;
            }

            .text {
                width: 100%;
            }
        }
    }
}

.trainer-name {
    margin-left: 80px;
}

.contact {
    margin-top: 40px;
    margin-bottom: 40px;

    form {
        margin-top: 20px;
    }
    
    .success-message {
        margin-top: 40px;
    }
}
