// Variables
$color-teal: #249287;
$color-teal-light: #44ccbe;

$nav-height: 110px;

// Typography override variables
$small-screen: 600px !default;
$large-screen: 1200px !default;
$range : $large-screen - $small-screen !default;
$intervals: 8 !default;
$interval-size: $range / $intervals !default;

// Mixins
@mixin flow-text($font-size){
    $i: 0;
    @while $i <= $intervals {
        @media only screen and (min-width : 360 + ($i * $interval-size)) {
        font-size: $font-size * (1 + (.02 * $i));
        }
        $i: $i + 1;
    }

    // Handle below 360px screen
    @media only screen and (max-width: 360px) {
        font-size: 1.2rem;
    }
}

.spinner {
    margin-top:40px;
}

.simple-notification-wrapper {
    width: 400px !important;
}

.parralax {
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
}

#toast-container.toast-bottom-full-width{
    .toast {
        margin-top: 10px !important;
        width: 100% !important;
        border-radius: 0;
    }
}

.createModal .modal {
    width: 90% !important;
    max-height: 90% !important;
}

.deleteModal .modal {
    width: 40%px !important;
    max-height: 20% !important;
    top: 30% !important;
}
  
html {
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}



// Navigation
nav {
    height: $nav-height;
    line-height: $nav-height;
    
    .nav-desktop {
        ul {    
            li{
                line-height: 40px;
                margin-top: 35px;
                margin-left: 25px;
            }
    
           a {
               font-size: 20px;
               position: relative;
               color: #444;
               text-decoration: none;
               padding: 0 5px;;
            } 
    
            a:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $color-teal;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.2s ease-in-out 0s;
                transition: all 0.2s ease-in-out 0s;
            }
            
            a.selected:before {
                visibility: visible;
                transform: none;
            }
    
            a:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            } 
    
            a:hover {
                background-color: transparent;
            }
        }
    }

    .nav-wrapper i {
        height: $nav-height !important;
        line-height: $nav-height !important;
        margin-left: 0px;
    }

    .nav-wrapper i.login {
        margin-left: 10px;
        margin-top: -36px;
    }
  
    a.button-collapse {
        color: $color-teal;

        i {
            font-size: 30px;
        }
    }

}

// Administration
.administration {
    .header {
        margin-top: 20px;    
    }

    .event-title {
        margin-top: 20px;
        margin-bottom: 20px;

        h5 {
            display: inline;

            i {
                margin-top: 2px;
            }
        }
        span {
            margin-left: 10px;
            display: inline;
        }
    }
    .event-participants-container{
        margin-bottom: 20px; 
        padding: 0;

        .event-participants {  
            .collection {
                margin-top:-1px;
                margin-bottom: 0px;
            }
    
            span {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .center-on-mobile {
        text-align: center !important; 
    }
}

// Allgemein
blockquote {
    border-left: 5px solid $color-teal;
}

// Override Typograhy
.flow-text{
    font-weight: 300;
    @include flow-text(1rem)
}

.footer-copyright {
    height: 70px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 1px solid #e0e0e0;
    margin: 1em 0;
    padding: 0;
}