.parallax-top {
    background-image: url("../../../assets/img/background/CrossTheNature.jpg");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;

    h1 {
        margin-top: 0px;
        padding-top: 160px;
    } 

    h5 {
        margin-top: -25px;
    }
}

.parallax-probe {
    background-image: url("../../../assets/img/background/CrossTheNature.jpg");
    min-height: 160px; 
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}


.uwu {
    min-height: 160px;
}

.welcome {
    margin-bottom: 40px;
    margin-top: 20px;

    .link {
        margin-top: 30px;
    
        a {
            color: #000; 
            text-decoration: underline;
        }
    }
}


.image {
    .vw {
        height: 150px;
    }
}
