<div class="row">
  <div class="col-12 d-flex flex-column flex-lg-row align-items-center mb-3">
    <h2 class="teal-text text-center light text-lg-start mb-0">
      {{ event.name }}
    </h2>
    <span class="grey-text text-darken-1 light text-center text-lg-start ms-2"
      ><i>{{ date_string }}</i></span
    >
  </div>

  <div *ngIf="participants.length" class="w-100 d-flex flex-column flex-lg-row">
    <div class="list-style-none w-100">
      <ul class="collection my-0">
        <li
          class="collection-item"
          *ngFor="
            let participant of participants
              | slice: 0 : +(participants.length / 2).toFixed()
          "
        >
          <div class="d-flex justify-content-between">
            <div>
              <span>{{
                participant.user.firstname + " " + participant.user.lastname
              }}</span>
              <span
                *ngIf="participant.trial"
                class="grey-text text-darken-1 light"
              >
                <i> {{ participant.user.phone }}</i>
              </span>
            </div>

            <mat-icon
              *ngIf="participant.trial"
              fontIcon="fitness_center"
              color="primary"
              matTooltip="Anmeldung zum Probetraining"
              matTooltipPosition="above"
            ></mat-icon>
          </div>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-block mx-1">&nbsp;</div>
    <div class="list-style-none w-100">
      <ul class="collection my-0" *ngIf="participants.length > 1">
        <li
          class="collection-item"
          *ngFor="
            let participant of participants
              | slice
                : +(participants.length / 2).toFixed()
                : participants.length
          "
        >
          <div class="d-flex justify-content-between">
            <div>
              <span>{{
                participant.user.firstname + " " + participant.user.lastname
              }}</span>
              <span
                *ngIf="participant.trial"
                class="grey-text text-darken-1 light"
              >
                <i> {{ participant.user.phone }}</i>
              </span>
            </div>

            <mat-icon
              *ngIf="participant.trial"
              fontIcon="fitness_center"
              color="primary"
              matTooltip="Anmeldung zum Probetraining"
              matTooltipPosition="above"
            ></mat-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="col-12 text-center text-lg-start mt-2"
    *ngIf="!participants.length"
  >
    <span>Es gibt keine Anmeldungen für diesen Event!</span>
  </div>
</div>
