<div class="card-panel grey lighten-5">
  <div class="card-content black-text">
    <div class="datetime grey-text text-darken-1 light truncate"><i>{{date_string}}</i></div>
    <a [routerLink]="['/details', event._id]">
      <h4 class="title truncate">{{event?.name}}</h4>
    </a>
    <div class="registrations grey-text text-darken-1 light" mz-tooltip [tooltip]="$participant_list" [html]="true"><i class="tiny material-icons">group</i><i>{{participant_string}} Anmeldungen</i></div>
    <div class="register" *ngIf="user">
      <i *ngIf="is_registered && !can_unregister" class="grey-text small material-icons no-unregister" mz-tooltip [tooltip]="'Du kannst dich von diesem Event nicht mehr abmelden!'">done</i>
      <i *ngIf="is_registered && can_unregister" class="{{color}} small material-icons" (click)="handleRegistration()" [@opacityAnimation] (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">{{icon}}</i>
      <i *ngIf="!is_registered && !is_full && can_register" class="small material-icons" (click)="handleRegistration()" [@opacityAnimation]>person_add</i>
    </div> 
  </div>
</div>