<div class="card-panel grey lighten-5">
  <div class="card-content black-text">
    <div class="datetime grey-text text-darken-1 light truncate"><i>{{date_string}}</i></div>
    <a [routerLink]="['/details', event._id]">
      <h4 class="title truncate">{{event?.name}}</h4>
    </a>
    <div class="registrations grey-text text-darken-1 light"><i class="tiny material-icons">group</i><i>{{participant_string}} Anmeldungen</i></div>
    <div class="register" *ngIf="user">
      <i *ngIf="!is_registered && !is_full" class="small material-icons" (click)="handleRegistration()" [@myAnimation]>person_add</i>
      <i *ngIf="is_registered" class="green-text small material-icons hover-icon" (click)="handleRegistration()" [@myAnimation]>done</i>
    </div> 
  </div>
</div>
