<div class="container my-4">
  <div class="row" *ngIf="!success">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="d-flex justify-content-center justify-content-lg-start">
        <h1 class="teal-text">Passwort zurücksetzen</h1>
      </div>
    </div>

    <div class="col-12 col-lg-8 offset-lg-2">
      Gib bitte deine E-Mail Adresse ein. Wir werden dir ein neues Passwort
      zusenden!
    </div>

    <form
      (ngSubmit)="resetForm.form.valid && reset()"
      #resetForm="ngForm"
      class="col-12 col-lg-8 offset-lg-2 mt-4 form"
    >
      <mat-form-field class="col-12">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          [(ngModel)]="model.email"
          required
          id="email"
          name="email"
          type="email"
          email
        />
      </mat-form-field>

      <div class="col-12 text-center text-lg-start">
        <button
          mat-flat-button
          color="primary"
          class="btn"
          [class.disabled]="!resetForm.form.valid"
          type="submit"
          name="action"
        >
          Bestätigen
        </button>
      </div>
    </form>

    <div
      class="col-12 col-lg-8 offset-lg-2 text-center text-lg-start mt-3"
      *ngIf="hasError"
    >
      <div class="col-12 red-text">
        Das Passwort konnte nicht zurückgesetzt werden!
      </div>
    </div>
  </div>

  <div class="row text-center text-lg-start my-4" *ngIf="success">
    <div class="col-12 col-lg-8 offset-lg-2">
      <h1 class="teal-text">Passwort zurückgesetzt</h1>
    </div>

    <div class="col-12 col-lg-8 offset-lg-2">
      Das Passwort wurde erfolgreich zurückgesetzt. Wir haben dir ein neues
      Passwort an die angegebene E-Mail Adresse gesendet.
    </div>
  </div>
</div>
