<div class="container">
  <div class="row profile">
    <div class="col-12">
      <h1 class="header detail-title teal-text center-on-mobile">
        Benutzerprofil
      </h1>
    </div>
    <div class="col-12 center-on-mobile">
      <h4 class="light">{{ user.firstname }} {{ user.lastname }}</h4>
      <p class="flow-text">{{ user.email }}</p>
      <p class="flow-text">{{ user.phone }}</p>
    </div>
    <div class="col-12 buttons center-on-mobile">
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/settings']"
        class="btn"
      >
        <i class="material-icons left">edit</i>Bearbeiten
      </button>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/password']"
        class="btn ms-2"
      >
        <i class="material-icons left">enhanced_encryption</i>Passwort ändern
      </button>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/login']"
        class="btn ms-2"
      >
        <i class="material-icons left">power_settings_new</i>Logout
      </button>
    </div>
  </div>
  <div class="divider"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="teal-text header center-on-mobile">
        Meine nächsten Trainings
      </h1>
    </div>
  </div>

  <div class="row event-cards">
    <div *ngFor="let event of events">
      <div class="col-12">
        <app-event-list-item [event]="event"></app-event-list-item>
      </div>
    </div>

    <div class="col-12 center-on-mobile" *ngIf="noEvents">
      <span class="flow-text"
        >Du bist für keine Trainings oder Termine angemeldet!</span
      >
    </div>
  </div>
</div>
