<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h1 class="header teal-text text-center text-lg-start">Impressum</h1>
    </div>
    <div class="col-12 text-center text-lg-start">
      <h4 class="header teal-text text-center text-lg-start">Kontaktadresse</h4>
      <div class="d-flex flex-column">
        <span>Cedric&nbsp;Rauber</span>
        <span>Zelglistrasse 9</span>
        <span>5210 Windisch</span>
        <span>Schweiz</span>
        <span
          ><a href="mailto:cedrauber@hotmail.com"
            >cedrauber@hotmail.com</a
          ></span
        >
      </div>
    </div>
    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">
        Haftungsausschluss
      </h4>
      <p>
        Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
        Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und
        Vollständigkeit der Informationen.
      </p>
      <p>
        Haftungsansprüche gegen den Autor wegen Schäden materieller oder
        immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.
        Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der
        Verbindung oder durch technische Störungen entstanden sind, werden
        ausgeschlossen.
      </p>
      <p>
        Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich
        vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte
        Ankündigung zu verändern, zu ergänzen, zu löschen oder die
        Veröffentlichung zeitweise oder endgültig einzustellen.
      </p>
    </div>
    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">
        Haftung für Links
      </h4>
      <p>
        Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
        Verantwortungsbereichs Es wird jegliche Verantwortung für solche
        Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten
        erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.
      </p>
    </div>
    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Urheberrechte</h4>
      <p>
        Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder
        anderen Dateien auf der Website gehören ausschliesslich
        <strong>Cedric Rauber</strong> oder den speziell genannten
        Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die
        schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.
      </p>
    </div>
    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Cookies</h4>
      <p>
        Diese Website verwendet Cookies. Cookies sind kleine Textdateien, die
        beim Besuch dieser Website in Ihrem Computer dauerhaft oder temporär
        gespeichert werden. Zweck der Cookies ist insbesondere die Analyse der
        Nutzung dieser Website zur statistischen Auswertung sowie für
        kontinuierliche Verbesserungen. Ausserdem stellen die Cookies sicher,
        dass Sie auf der Webseite eingeloggt bleiben können, und Sie sich nicht
        bei jedem Besuch neu anmelden müssen. In Ihrem Browser können Sie
        Cookies in den Einstellungen jederzeit ganz oder teilweise deaktivieren.
        Bei deaktivierten Cookies stehen Ihnen allenfalls nicht mehr alle
        Funktionen dieser Website zur Verfügung.
      </p>
      <a href="https://www.aboutcookies.org/">Wie deaktivere ich Cookies?</a>
    </div>
    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">
        Datenschutzerklärung für die Nutzung von Google Analytics
      </h4>
      <p>
        Diese Website benutzt Google Analytics, einen Webanalysedienst der
        Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies",
        Textdateien, die auf Ihrem Computer gespeichert werden und die eine
        Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den
        Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden
        in der Regel an einen Server von Google in den USA übertragen und dort
        gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser
        Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von
        Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten
        des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
      </p>
      <p>
        Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von
        Google in den USA übertragen und dort gekürzt. Google wird diese
        Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um
        Reports über die Websiteaktivitäten für die Websitebetreiber
        zusammenzustellen und um weitere mit der Websitenutzung und der
        Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird
        Google diese Informationen gegebenenfalls an Dritte übertragen, sofern
        dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag
        von Google verarbeiten. Die im Rahmen von Google Analytics von Ihrem
        Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google
        zusammengeführt.
      </p>
      <p>
        Sie können die Installation der Cookies durch eine entsprechende
        Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch
        darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
        Funktionen dieser Website voll umfänglich nutzen können. Durch die
        Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über
        Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und
        Weise und zu dem zuvor benannten Zweck einverstanden.
      </p>
    </div>
  </div>
</div>
