<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h1 class="header teal-text text-center text-lg-start">Impressum</h1>
    </div>
    <div class="col-12 text-center text-lg-start">
      <h4 class="header teal-text text-center text-lg-start">Kontaktadresse</h4>
      <div class="d-flex flex-column">
        <span>Cedric&nbsp;Rauber</span>
        <span>Zelglistrasse 9</span>
        <span>5210 Windisch</span>
        <span>Schweiz</span>
        <span><a href="mailto:cedrauber@hotmail.com">cedrauber&#64;hotmail.com</a></span>
      </div>
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start mt-2">Haftungsausschluss</h4>
      <p>
        Alle Angaben auf unserer Website wurden sorgfältig geprüft. Wir sind bemüht, dafür Sorge zu tragen, dass die von uns bereitgestellten Informationen
        aktuell, richtig und vollständig sind. Dennoch ist das Auftreten von Fehlern nicht völlig auszuschliessen, so dass wir für die Vollständigkeit,
        Richtigkeit und Aktualität der Informationen, auch journalistisch-redaktioneller Art, keine Gewähr übernehmen können. Haftungsansprüche, die sich auf
        Schäden materieller oder ideeller Art beziehen, welche durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung
        fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen.
      </p>
      <p>
        Der Herausgeber kann Texte nach eigenem Ermessen und ohne vorherige Ankündigung ändern oder löschen und ist nicht dazu verpflichtet, die Inhalte dieser
        Website zu aktualisieren. Die Nutzung dieser Website bzw. der Zugang zu ihr erfolgt auf eigenes Risiko des Besuchers. Der Herausgeber, seine Kunden oder
        Partner sind nicht verantwortlich für Schäden, wie z.B. direkte, indirekte, zufällige oder Folgeschäden, die angeblich durch den Besuch dieser Website
        verursacht wurden und übernehmen folglich keine Haftung für solche Schäden.
      </p>
      <p>
        Der Herausgeber übernimmt auch keine Verantwortung oder Haftung für den Inhalt und die Verfügbarkeit von Websites Dritter, die über externe Links von
        dieser Website aus erreicht werden können. Für den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich. Der Herausgeber
        distanziert sich daher ausdrücklich von allen fremden Inhalten, die möglicherweise straf- oder haftungsrechtlich relevant sind oder gegen die guten
        Sitten verstossen.
      </p>
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Urheberrechte</h4>
      <p>
        Das Urheberrecht und alle anderen Rechte an den Inhalten, Bildern, Fotos oder sonstigen Dateien auf der Website gehören ausschliesslich dem Betreiber
        dieser Website oder den namentlich genannten Rechteinhabern. Für die Vervielfältigung sämtlicher Dateien muss vorab die schriftliche Zustimmung der
        Urheberrechtsinhaber eingeholt werden.<br />
        Wer ohne Zustimmung der jeweiligen Urheberrechtsinhaber eine Urheberrechtsverletzung begeht, kann sich strafbar machen und unter Umständen
        Schadenersatzansprüche geltend machen.<br />
      </p>
    </div>

    <div class="col-12 mt-3">
      <h1 class="header teal-text text-center text-lg-start">Datenschutzerklärung</h1>
    </div>

    <div class="col-12 d-flex flex-column">
      <span><b>Datenschutzbeauftragte Person:</b></span>
      <span>Cedric Rauber</span>
      <span>079 923 69 98</span>
      <span><a href="mailto:cedrauber@hotmail.com">cedrauber&#64;hotmail.com</a></span>
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Allgemeines / Einleitung</h4>
      Gestützt auf Artikel 13 der Schweizerischen Bundesverfassung und die datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG) hat jede
      Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor Missbrauch ihrer persönlichen Daten. Die Betreiber dieser Seiten nehmen den Schutz
      Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften
      sowie dieser Datenschutzerklärung.<br />
      <br />
      In Zusammenarbeit mit unseren Hosting-Providern bemühen wir uns, die Datenbanken so gut wie möglich vor unberechtigtem Zugriff, Verlust, Missbrauch oder
      Verfälschung zu schützen.<br />
      <br />
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser
      Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br />
      <br />
      Durch die Nutzung dieser Website erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäss der nachfolgenden Beschreibung
      einverstanden. Diese Website kann grundsätzlich ohne Registrierung besucht werden. Daten wie aufgerufene Seiten oder Namen von aufgerufenen Dateien, Datum
      und Uhrzeit werden zu statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden. Soweit auf
      unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf
      freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
      <br />
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Verarbeitung personenbezogener Daten</h4>
      <p>
        Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare Person beziehen. Eine betroffene Person ist eine
        Person, über die personenbezogene Daten verarbeitet werden. Die Verarbeitung umfasst jeden Umgang mit personenbezogenen Daten, unabhängig von den
        verwendeten Mitteln und Verfahren, insbesondere die Speicherung, Weitergabe, Beschaffung, Löschung, Aufbewahrung, Veränderung, Vernichtung und
        Verwendung personenbezogener Daten.
      </p>
      <p>
        Wir verarbeiten personenbezogene Daten in Übereinstimmung mit dem Schweizer Datenschutzrecht. Sofern und soweit die EU-DSGVO anwendbar ist, verarbeiten
        wir personenbezogene Daten darüber hinaus auf folgenden Rechtsgrundlagen in Verbindung mit Art. 6 (1) GDPR:<br />
        lit. a) Verarbeitung personenbezogener Daten mit Einwilligung der betroffenen Person.<br />
        lit. f) Verarbeitung personenbezogener Daten zur Wahrung der berechtigten Interessen von uns oder von Dritten, sofern nicht die Grundfreiheiten und
        Rechte und Interessen der betroffenen Person überwiegen. Zu den berechtigten Interessen gehören insbesondere unser geschäftliches Interesse, unsere
        Website bereitstellen zu können, die Informationssicherheit, die Durchsetzung eigener Rechtsansprüche und die Einhaltung des schweizerischen Rechts.<br />
      </p>
      <p>
        Wir verarbeiten personenbezogene Daten für die Dauer, die für den jeweiligen Zweck oder die jeweiligen Zwecke erforderlich ist. Bei längerfristigen
        Aufbewahrungspflichten aufgrund gesetzlicher und anderer Verpflichtungen, denen wir unterliegen, schränken wir die Bearbeitung entsprechend ein.
      </p>
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Datenerfassung</h4>

      <b>Beschreibung und Umfang der Datenverarbeitung</b>
      <p>
        Auf unserer Internetseite bieten wir Nutzern die Möglichkeit, sich unter Angabe personenbezogener Daten zu registrieren. Die Daten werden dabei in eine
        Eingabemaske eingegeben und an uns übermittelt und gespeichert. Eine Weitergabe der Daten an Dritte findet nicht statt. Folgende Daten werden im Rahmen
        des Registrierungsprozesses erhoben:
      </p>
      <div class="d-flex flex-column">
        <span>- Vorname / Nachname</span>
        <span>- E-Mail Adresse</span>
        <span>- Telefonnummer</span>
      </div>

      <p>Im Zeitpunkt der Registrierung werden zudem folgende Daten gespeichert:</p>
      <div class="d-flex flex-column">
        <span>- Die IP-Adresse des Nutzers</span>
        <span>- Datum und Uhrzeit der Registrierung</span>
        <br />
      </div>

      <p>Im Rahmen des Registrierungsprozesses wird eine Einwilligung des Nutzers zur Verarbeitung dieser Daten eingeholt.</p>

      <b>Zweck der Datenverarbeitung</b> <br />
      <p>Eine Registrierung des Nutzers ist für das Bereithalten bestimmter Inhalte und Leistungen auf unserer Webseite erforderlich.</p>
      <div class="d-flex flex-column">
        <span>- Anmeldung zu Probetraining</span>
        <span>- An-/Abmeldung zu Trainings</span>
        <span>- An-/Abmeldung zu diversen Events von Crossthenature</span>
        <br />
      </div>

      <b> Dauer der Speicherung </b> <br />
      <p>
        Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Dies ist für die während des
        Registrierungsvorgangs erhobenen Daten der Fall, wenn die Registrierung auf unserer Webseite aufgehoben oder abgeändert wird.
      </p>

      <b>Widerspruchs- und Beseitigungsmöglichkeit </b> <br />
      <p>
        Als Nutzer haben sie jederzeit die Möglichkeit, die Registrierung aufzulösen. Die über Sie gespeicherten Daten können sie jederzeit abändern lassen. Sie
        können Ihre Registrierung jederzeit im Persönlichen Profil abändern oder unwiderruflich löschen. Dabei werden alle ihrer Daten entfernt. Anmeldungen zu
        besuchten Terminen werden in anonymisierter Form behalten.
      </p>
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Cookies</h4>
      <p>
        Diese Website verwendet Cookies. Dabei handelt es sich um kleine Textdateien, die es ermöglichen, spezifische, auf den Nutzer bezogene Informationen auf
        dem Endgerät des Nutzers zu speichern, während der Nutzer die Website nutzt. Cookies ermöglichen es insbesondere, die Nutzungshäufigkeit und die Anzahl
        der Nutzer der Seiten zu ermitteln, Verhaltensmuster der Seitennutzung zu analysieren, aber auch, unser Angebot kundenfreundlicher zu gestalten. Cookies
        bleiben über das Ende einer Browser-Sitzung hinaus gespeichert und können bei einem erneuten Besuch der Seite wieder abgerufen werden. Wenn Sie dies
        nicht wünschen, sollten Sie Ihren Internet-Browser so einstellen, dass er die Annahme von Cookies verweigert.
      </p>
      <p>
        Ein genereller Widerspruch gegen die Verwendung von Cookies zu Online-Marketing-Zwecken kann für eine Vielzahl der Dienste, insbesondere beim Tracking,
        über die US-Seite http://www.aboutads.info/choices/ oder die EU-Seite http://www.youronlinechoices.com/ erklärt werden. Darüber hinaus kann die
        Speicherung von Cookies durch Deaktivierung in den Browsereinstellungen erreicht werden. Bitte beachten Sie, dass in diesem Fall nicht alle Funktionen
        dieses Online-Angebots genutzt werden können.
      </p>
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">SSL/TLS-Verschlüsselung</h4>
      Diese Website verwendet aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie z.B. Anfragen, die Sie an uns als Seitenbetreiber
      senden, eine SSL/TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von "http://" auf "https://"
      wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.<br />
      <br />
      Wenn die SSL- oder TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten gelesen werden.<br />
      <br />
      <strong>Server-Log-Dateien</strong><br />
      Der Provider dieser Website erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien, die Ihr Browser automatisch an uns
      übermittelt. Dies sind:<br />
      Browsertyp und Browserversion<br />
      Verwendetes Betriebssystem<br />
      Referrer URL<br />
      Hostname des zugreifenden Rechners<br />
      Zeitpunkt der Serveranfrage<br />
      <br />
      Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns
      vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.<br />
      <br />
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Kontaktformular</h4>
      <p>
        Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen
        Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung
        weiter.
      </p>
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Rechte der betroffenen Person</h4>
      <p>
        Sie haben das Recht auf Auskunft über die von uns verarbeiteten Daten, das Recht auf Berichtigung unrichtiger Daten, das Recht auf Löschung, das Recht
        auf Einschränkung der Verarbeitung und das Recht auf Datenübertragbarkeit. Um Ihre Rechte auszuüben oder weitere Informationen zu erhalten, wenden Sie
        sich bitte an unseren Datenschutzbeauftragten.
      </p>
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Google Maps</h4>
      Diese Website nutzt das Angebot von Google Maps. Dies ermöglicht es uns, interaktive Karten direkt auf der Website darzustellen und Ihnen die komfortable
      Nutzung der Kartenfunktion zu ermöglichen. Durch den Besuch der Website erhält Google die Information, dass Sie die entsprechende Unterseite unserer
      Website aufgerufen haben. Dies geschieht unabhängig davon, ob Google ein Nutzerkonto bereitstellt, über das Sie eingeloggt sind, oder ob kein Nutzerkonto
      vorhanden ist. Wenn Sie bei Google eingeloggt sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. Wenn Sie die Zuordnung zu Ihrem Profil bei Google
      nicht wünschen, müssen Sie sich vor Aktivierung der Schaltfläche ausloggen. Google speichert Ihre Daten als Nutzungsprofile und nutzt sie für Zwecke der
      Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (auch für nicht eingeloggte
      Nutzer) zur Erbringung bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf unserer Website zu informieren. Sie
      haben das Recht, der Erstellung dieser Nutzerprofile zu widersprechen, wobei Sie sich zur Ausübung dieses Rechts an Google wenden müssen. Nähere
      Informationen zu Zweck und Umfang der Datenerhebung und -verarbeitung durch Google sowie weitere Informationen zu Ihren diesbezüglichen Rechten und
      Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre finden Sie unter: www.google.de/intl/de/policies/privacy.<br />
      <br />
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Google reCAPTCHA</h4>
      Diese Website verwendet den reCAPTCHA-Dienst von Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland "Google"). Die Abfrage dient dazu,
      zu unterscheiden, ob die Eingabe durch einen Menschen oder durch eine automatisierte, maschinelle Verarbeitung erfolgt. Die Abfrage beinhaltet die
      Übermittlung der IP-Adresse und ggf. weiterer von Google für den reCAPTCHA-Dienst benötigter Daten an Google. Zu diesem Zweck wird Ihre Eingabe an Google
      übermittelt und dort weiterverwendet. Ihre IP-Adresse wird von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen
      Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von
      Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung dieses
      Dienstes auszuwerten. Die im Rahmen von reCaptcha von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Ihre
      Daten können dabei auch in die USA übertragen werden. Für Datenübermittlungen in die USA gibt es einen Angemessenheitsbeschluss der Europäischen
      Kommission, das "Privacy Shield". Google nimmt an dem "Privacy Shield" teil und hat sich den Anforderungen unterworfen. Durch Betätigen der Abfrage
      stimmen Sie der Verarbeitung Ihrer Daten zu. Die Verarbeitung erfolgt auf Grundlage von Art. 6 (1) lit. a DSGVO mit Ihrer Einwilligung. Sie können Ihre
      Einwilligung jederzeit widerrufen, ohne dass die Rechtmässigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird.<br />
      Weitere Informationen zu Google reCAPTCHA und den dazugehörigen Datenschutzbestimmungen finden Sie unter: https://policies.google.com/privacy?hl=de<br />
      <br />
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Whatsapp</h4>
      Sie können Mitglied in unserer WhatsApp Gruppe werden. WhatsApp ist ein Dienst der WhatsApp Ireland Limited, 4 Grand Canal Square, Grand Canal Harbour,
      Dublin 2, Irland, einer Tochtergesellschaft der WhatsApp Inc. mit Sitz in 1601 Willow Road, Menlo Park, California 94025, USA, beide nachfolgend
      "WhatsApp" genannt. Eine teilweise Verarbeitung von Nutzerdaten findet auf WhatsApp-Servern in den USA statt.<br />
      <br />
      Durch die Zertifizierung nach dem EU-US Privacy Shield garantiert WhatsApp jedoch, dass die Datenschutzanforderungen der EU auch bei der Datenverarbeitung
      in den USA eingehalten werden. Darüber hinaus bietet WhatsApp weitere Informationen zum Datenschutz an.<br />
      <br />
      Um Mitglied in unserer WhatsApp Gruppe zu werden, benötigen Sie ein WhatsApp-Benutzerkonto. Welche Daten WhatsApp bei der Anmeldung erhebt, können Sie den
      vorgenannten Datenschutzhinweisen von WhatsApp entnehmen.<br />
      <br />
      Wenn Sie Mitglied in unserer WhatsApp Gruppe werden, wird die von Ihnen bei der Anmeldung angegebene Handynummer von WhatsApp verarbeitet. <br />
      <br />
      Sie können jederzeit Ihre Einwilligung über die Mitgliedschaft der Whatsapp Gruppe widerrufen. Wir werden Sie so schnell wie möglich aus der Gruppe
      entfernen. Ebenso haben Sie die Möglichkeit, die Gruppe selbst in Ihrem WhatsApp Client zu verlassen.
      <br />
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Änderungen</h4>
      Wir können diese Datenschutzrichtlinie jederzeit ohne vorherige Ankündigung ändern. Es gilt die jeweils aktuelle, auf unserer Website veröffentlichte
      Fassung. Soweit die Datenschutzerklärung Teil einer Vereinbarung mit Ihnen ist, werden wir Sie im Falle einer Aktualisierung per E-Mail oder auf andere
      geeignete Weise über die Änderung informieren.<br />
      <br />
    </div>

    <div class="col-12">
      <h4 class="header teal-text text-center text-lg-start">Haftungsausschluss</h4>
      Der Autor übernimmt keine Gewähr für die Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.<br />
      Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, die aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der
      veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.<br />
      <br />
      Alle Angebote sind freibleibend. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu
      verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.<br />
    </div>
  </div>
</div>
