.team {
  margin-top: 20px;

  .header {
    margin-bottom: 40px;
  }

  .member {
    margin-top: 10px;

    img {
      width: 60%;
    }

    .text {
      width: 60%;
      margin: auto;

      span {
        display: block;
      }
    }

    @media only screen and (max-width: 992px) {
      img {
        width: 100%;
      }

      .text {
        width: 100%;
      }
    }
  }
}

.trainer-name {
  margin-left: 80px;
}

.contact {
  margin-top: 40px;
  margin-bottom: 40px;

  form {
    margin-top: 20px;
  }

  .success-message {
    margin-top: 40px;
  }
}
