<div class="parallax top d-none d-lg-flex">
  <div
    class="container d-flex flex-column align-items-center justify-content-center"
  >
    <h1 class="teal-text mat-headline-3 parralax-title">Kontakt</h1>
    <h1 class="white-text parralax-subtitle mt-3">
      &laquo;Today it hurts, tomorrow it works.&raquo;
    </h1>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-12 d-flex justify-content-center justify-content-lg-start">
      <h1 class="teal-text">Team</h1>
    </div>
    <div
      class="col-12 d-flex flex-column flex-lg-row justify-content-between align-items-center"
    >
      <div class="p-4 d-flex flex-column align-items-center">
        <img src="../../../assets/img/team/Cedi.jpg" />
        <div class="text-center mt-2 d-flex flex-column">
          <b>Cedi</b>
          <span>Gründer/Trainer</span>
        </div>
      </div>
      <div class="p-4 d-flex flex-column align-items-center">
        <img src="../../../assets/img/team/Roman.jpg" />
        <div class="text-center mt-2 d-flex flex-column">
          <b>Roman</b>
          <span>Trainer</span>
        </div>
      </div>
      <div class="p-4 d-flex flex-column align-items-center">
        <img src="../../../assets/img/team/Luca.jpg" />
        <div class="text-center mt-2 d-flex flex-column">
          <b>Luca</b>
          <span>Trainer</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax secondary">
  <div class="container h-100">
    <div class="row d-flex justify-content-between align-items-center h-100">
      <div class="col-12 col-lg-9 text-center text-lg-start">
        <h2 class="header white-text parralax-subtitle">
          Interessiert? Jetzt zum Probetraining anmelden!
        </h2>
      </div>
      <div
        class="col-12 col-lg-3 justify-self-end text-center text-lg-end mb-4 mb-lg-0"
      >
        <button
          mat-flat-button
          color="primary"
          [routerLink]="['/events']"
          [queryParams]="{ probetraining: 'true' }"
          class="btn"
        >
          ZUR ANMELDUNG
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h1 class="header teal-text text-center text-lg-start">
        Kontaktiere uns
      </h1>
    </div>

    <div class="col-12 text-center text-lg-start">
      Bei Fragen und Anregungen kannst du dich gerne bei uns melden. Fülle dazu
      bitte das Kontaktformular aus oder rufe uns direkt unter
      <i>079 923 69 98</i> an!
    </div>

    <form
      (ngSubmit)="contactForm.form.valid && send()"
      #contactForm="ngForm"
      class="col-12 mt-3"
      *ngIf="!success"
    >
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Name</mat-label>
          <input
            matInput
            [(ngModel)]="model.name"
            required
            id="name"
            name="name"
            type="text"
          />
        </mat-form-field>

        <mat-form-field class="col-12 mt-2">
          <mat-label>E-Mail</mat-label>
          <input
            matInput
            [(ngModel)]="model.email"
            required
            id="email"
            name="email"
            type="email"
            email
          />
        </mat-form-field>

        <mat-form-field class="col-12 mt-2">
          <mat-label>Deine Nachricht</mat-label>
          <textarea
            matInput
            id="message"
            name="message"
            [(ngModel)]="model.message"
            required
          ></textarea>
        </mat-form-field>

        <div class="col-12 text-center text-lg-start">
          <button
            mat-flat-button
            color="primary"
            [routerLink]="['/events']"
            [queryParams]="{ probetraining: 'true' }"
            class="btn"
            [class.disabled]="!contactForm.form.valid"
            type="submit"
            name="action"
          >
            ABSENDEN
          </button>
        </div>
      </div>
    </form>

    <div class="col-12 mt-3 text-center text-lg-start" *ngIf="success">
      Vielen Dank für deine Nachricht!
    </div>
  </div>
</div>
