<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <div class="nav-desktop">
            <a id="logo-container" href="index.html" class="brand-logo">
                <img src="../assets/img/logo.jpg" height="100" width="100">
            </a>
            <ul class="right light hide-on-med-and-down">
                <li><a routerLink="/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Information</a></li>
                <li><a routerLink="/events" routerLinkActive="selected">Termine</a></li>
                <li><a id="login-toggle" routerLink="/login" routerLinkActive="selected">{{getFullName('Login')}}<i class="material-icons right login">person</i></a></li>
            </ul>
        </div>
        <a href="#" id="btn-sidenav-demo" class="button-collapse"><i class="large material-icons">menu</i></a>
    </div>
</nav>

<mz-sidenav #sidenav [id]="'sidenav'" [collapseButtonId]="'btn-sidenav-demo'" [edge]="'left'">
    <mz-sidenav-header>
      <div class="user-view">
        <img class="circle avatar" src="../assets/img/user-img.jpg">
        <div class="white-text name">{{getFullName()}}</div>
        <div class="white-text email">{{getEmail()}}</div>
      </div>
    </mz-sidenav-header>

    <mz-sidenav-link>
        <a href="#">Home</a>
    </mz-sidenav-link>

    <mz-sidenav-link>
        <a href="#">News</a>
    </mz-sidenav-link>

    <mz-sidenav-link>
        <a href="#">Informationen</a>
    </mz-sidenav-link>

    <mz-sidenav-link>
        <a href="#">Termine</a>
    </mz-sidenav-link>

    <mz-sidenav-link>
        <a href="#"><i mz-icon-mdi [icon]="'account'" [align]="'right'"></i>{{getFullName('Login')}}</a>
    </mz-sidenav-link>
</mz-sidenav>

<router-outlet></router-outlet>

<footer class="page-footer teal">
    <div class="footer-copyright grey darken-4">
      <div class="container">
          <span class="copyright">&copy;2018 crossthenature</span>    
          <span class="data"><a href="#" class="grey-text text-lighten-2">Datenschutz</a></span>       
          <span class="impressum"><a href="#" class="grey-text text-lighten-2">Impressum</a></span>
          <div class="icons right hide-on-small-only">
            <img src="assets/img/twitter.png" height="25" width="25">
            <img src="assets/img/facebook.png" height="25" width="25">
            <img src="assets/img/instagram.png" height="25" width="25">
          </div>          
      </div>
    </div>
  </footer>