.sidenav-opened {
  border: 1px solid rgba(0,0,0,0.18);
  border-radius: 3px;
  padding: 9px 24px;
  margin-left: 10px;
}

.user-view {
  background: url('../assets/img/background/sidenav-small.png');
  background-position: -90px;
  background-size: 400px;
  padding: 32px 32px 16px;

  .name {
    font-size: 1.25em;
  }

  .name,
  .email {
    height: auto;
    line-height: 24px;
    padding: 0;
  }
}

  
.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  .copyright {
      margin-right:10px;
  }
  .data {
      margin-right:10px;
  }
  .icons img {
      margin-left:10px;
  }
}
