<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet"> 
		<style type="text/css">
			body {
				Margin: 0;
				padding: 0;
				min-width: 100%;
				font-family: 'Roboto', sans-serif;
			}
			
			.wrapper {
				width: 600px;
				margin: auto;
			}
			
			.image img{
				margin: auto;
			}
			
			.title {
				margin-top: 40px;
			}
			
			.text {
				margin-top: 40px;
				line-height: 26px;
			}
			
			.button {
				margin-top: 40px;
				text-align: center;
			}
		</style>
	</head>
	<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;">
		<div class="wrapper">
			<div class="image">
				<img src="https://ctn.musca.uberspace.de/assets/img/logos/logo.jpg" alt="" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica,arial,sans-serif; font-size:16px; max-width:30%!important; width:30%; height:auto!important" border="0">
			</div>
			<div class="title">
				<h3 style="text-align:center"><%= firstname %>, herzlich willkommen im Team!</h3>
			</div>
			<div class="text">
				<div>
					Um deinen Account zu aktivieren, benötigen wir nur noch deine Bestätigung. Klicke dazu bitte auf den untenstehenden Link um deine E-Mail Adresse zu bestätigen, und schon kann es los gehen!
				</div>
				</br>
				<div>
					Solltest du dich nicht bei www.crossthenature.ch registriert haben, kannst du diese E-Mail ignorieren.
				</div>
				</br>
				<div>Vielen Dank & bis bald!</div>
			</div>
			<div class="button">
				<a href="<%= url %>" target="_blank" style="background-color:#333333; border:1px solid #333333; border-color:#333333; border-radius:6px; border-width:1px; color:#ffffff; display:inline-block; font-family:arial,helvetica,sans-serif; font-size:16px; font-weight:normal; letter-spacing:0px; line-height:16px; padding:12px 18px 12px 18px; text-align:center; text-decoration:none">E-Mail Adresse bestätigen</a>
			</div>
		</div>
	</body>
</html>