<div class="container register">
  <div class="row" *ngIf="!success">
    <div class="col s12 l8 offset-l2">
        <h3 class="header detail-title teal-text center-on-mobile">Registrieren</h3>
    </div>

    <form novalidate (ngSubmit)="registerForm.valid && register()" [formGroup]="registerForm" class="col s12 l8 offset-l2">
        <div class="input-field col s12">
          <input id="firstname" formControlName="firstname" name="firstname" type="text" class="validate" [(ngModel)]="user.firstname" [class.valid]="registerForm.controls['firstname'].valid" [class.invalid]="registerForm.controls['firstname'].touched && !registerForm.controls['firstname'].valid">
          <label class="light" for="firstname">Vorname</label>
        </div>
        <div class="input-field col s12">
          <input id="lastname" formControlName="lastname" type="text" class="validate" [(ngModel)]="user.lastname" [class.valid]="registerForm.controls['lastname'].valid" [class.invalid]="registerForm.controls['lastname'].touched && !registerForm.controls['lastname'].valid">
          <label class="light" for="lastname">Nachname</label>
        </div>
        <div class="input-field col s12">
          <input id="email" formControlName="email" type="email" [(ngModel)]="user.email" [class.valid]="registerForm.controls['email'].valid" [class.invalid]="registerForm.controls['email'].touched && !registerForm.controls['email'].valid">
          <label class="light" for="email">E-Mail</label>
        </div>
        <div class="input-field col s12">
          <input id="phone" formControlName="phone" type="text" [(ngModel)]="user.phone" [class.valid]="registerForm.controls['phone'].valid" [class.invalid]="registerForm.controls['phone'].touched && !registerForm.controls['phone'].valid">
          <label class="light" for="phone">Telefon</label>
        </div>
        <div class="input-field col s12">
          <input id="password" formControlName="password" type="password" [(ngModel)]="user.password" [class.valid]="registerForm.controls['password'].valid" [class.invalid]="registerForm.controls['password'].touched && !registerForm.controls['password'].valid">
          <label class="light" for="password">Passwort</label>
        </div>
        <div class="input-field col s12">
          <input id="confirmPassword" formControlName="confirmPassword" type="password" [class.valid]="registerForm.controls['confirmPassword'].valid" [class.invalid]="registerForm.controls['confirmPassword'].touched && !registerForm.controls['confirmPassword'].valid">
          <label class="light" for="confirmPassword">Passwort bestätigen</label>
        </div>

        <div class="col s12 center-on-mobile register-button">
          <button class="btn" [disabled]="!registerForm.valid" type="submit" name="action">Registrieren</button>
        </div>
    </form>

    <div class="col s12 l8 offset-l2">
      <div class="col s12 error light" [hidden]="!hasError">Ein Benutzer mit dieser E-Mail Adresse existiert bereits! Passwort <a [routerLink]="['/password']">vergessen?</a></div>
    </div>

  </div>

  <div class="row success" *ngIf="success">
      <div class="col s12 l8 offset-l2">
          <h4 class="header detail-title teal-text center-on-mobile">Registrierung erfolgreich</h4>
      </div>
      <div class="col s12 l8 offset-l2 text">
          <span class="flow-text">{{user.firstname}}, vielen Dank für deine Registrierung! Wir haben dir eine Bestätigungsmail an <i>{{user.email}}</i> gesendet. Bestätige bitte kurz deine E-Mail Adresse indem du auf den Link im Mail klickst. Anschliessend kannst du dich einloggen.</span>
      </div>
  </div>
</div>  
