.all-users {
    .users {
        margin-top: 20px;

        .collection-item {
            position: relative;

            .title {
                font-size: 18px;
            }

            .icon-container {    
                position: absolute;
                right: 20px;
                top: 21px;
                
                a {
                    margin-left: 5px;
                    cursor: pointer;
                }
            }

            .title {
                display: block !important;
            }
            
            .information {
                display: block !important;
                margin-top: 2px;
            }
        }
    }
}