.title {
    margin-bottom: -10px;
}

.subtitle {
    margin-top: 20px;
    font-size: 18px;
}

.repeat {
    .checkbox {
        margin-top: 10px;
    }
}

.submit {
    margin-top: 20px;
    margin-bottom: 40px;

    button, a {
        margin-top: 10px;
    }
}
