<div class="container create-event">
  <div class="row title">
    <div class="col s12">
        <h4 class="header detail-title teal-text center-on-mobile">Neuer Termin anlegen</h4>
    </div>
  </div>

  <form (ngSubmit)="createEventForm.form.valid && create()" #createEventForm="ngForm">
    <div class="row">
      <mz-input-container class="col s12 l10">
        <input mz-input [label]="'Bezeichnung'" [validate]="true" id="name" name="name" type="text" [(ngModel)]="event.name" required>
      </mz-input-container> 
      <mz-input-container class="col s12 l2">
        <input mz-input [label]="'Teilnehmer'" [validate]="true" id="max_participants" name="max_participants" type="number" [(ngModel)]="event.max_participants">
      </mz-input-container> 
      <mz-textarea-container class="col s12">
        <textarea mz-textarea [label]="'Beschreibung'" id="description" name="description" [(ngModel)]="event.description"></textarea>
      </mz-textarea-container>
      <mz-datepicker-container class="col s12 l4">
        <input mz-datepicker [label]="'Datum'" [options]="optionsDate" [(ngModel)]="event.date" id="datum" name="datum" type="text" required>
      </mz-datepicker-container> 
      <mz-timepicker-container class="col s6 l4">
        <input mz-timepicker [label]="'Zeit von'" [options]="optionsTime" [(ngModel)]="event.time_from" id="timefrom" name="timefrom" type="text">
      </mz-timepicker-container> 
      <mz-timepicker-container class="col s6 l4">
        <input mz-timepicker [label]="'Zeit bis'" [options]="optionsTime" [(ngModel)]="event.time_to" id="timeto" name="timeto" type="text">
      </mz-timepicker-container> 
    </div>

    <div class="divider"></div>

    <div class="row repeat">
        <div class="col s12 title">Termin wiederholen</div>
        <mz-checkbox-container class="checkbox col s3 l1">
          <input mz-checkbox
            [label]="'Mo'"
            id="montag"
            type="checkbox"
            name="montag"
            [(ngModel)]="mo">
        </mz-checkbox-container>
        <mz-checkbox-container class="checkbox col s3 l1">
          <input mz-checkbox
            [label]="'Di'"
            id="dienstag"
            type="checkbox"
            name="dienstag"
            [(ngModel)]="di">
        </mz-checkbox-container>
        <mz-checkbox-container class="checkbox col s3 l1">
          <input mz-checkbox
            [label]="'Mi'"
            id="mittwoch"
            type="checkbox"
            name="mittwoch"
            [(ngModel)]="mi">
        </mz-checkbox-container>
        <mz-checkbox-container class="checkbox col s3 l1">
          <input mz-checkbox
            [label]="'Do'"
            id="donnerstag"
            type="checkbox"
            name="donnerstag"
            [(ngModel)]="do">
        </mz-checkbox-container>
        <mz-checkbox-container class="checkbox col s3 l1">
          <input mz-checkbox
            [label]="'Fr'"
            id="freitag"
            type="checkbox"
            name="freitag"
            [(ngModel)]="fr">
        </mz-checkbox-container>
        <mz-checkbox-container class="checkbox col s3 l1">
          <input mz-checkbox
            [label]="'Sa'"
            id="samstag"
            type="checkbox"
            name="samstag"
            [(ngModel)]="sa">
        </mz-checkbox-container>
        <mz-checkbox-container class="checkbox col s3 l1">
          <input mz-checkbox
            [label]="'So'"
            id="sonntag"
            type="checkbox"
            name="sonntag"
            [(ngModel)]="so">
        </mz-checkbox-container>
        <mz-datepicker-container class="col s12 offset-l1 l4">
          <input mz-datepicker [label]="'Wiederholen bis'" [options]="optionsDate" [(ngModel)]="repeat_date" id="repeat" name="repeat" type="text">
        </mz-datepicker-container> 
    </div>
      
    <div class="divider"></div>


    <div class="col s12 submit center-on-mobile">
      <button class="btn waves-effect waves-light" [class.disabled]="!createEventForm.form.valid" type="submit" name="action">Event anlegen</button>
    </div>
  </form>
</div>
 