.title {
    margin-bottom: 0px;
}

.repeat {
    margin-bottom: 10px;

    .title {
        margin-top: 20px;
    }
    .checkbox {
        margin-top: 10px;
    }
}

.submit {
    margin-top: 20px;
    margin-bottom: 20px;
}
