<div class="container login">
  <div class="">
    <div class="row col-12 col-lg-6 offset-l3">
      <h3 class="header detail-title teal-text center-on-mobile">Login</h3>
    </div>

    <form
      (ngSubmit)="loginForm.form.valid && login()"
      #loginForm="ngForm"
      class="row col-12 col-lg-6 offset-l3"
    >
      <mat-form-field class="col-12">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          [(ngModel)]="model.email"
          required
          id="email"
          name="email"
          type="email"
          email
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Passwort</mat-label>
        <input
          matInput
          [(ngModel)]="model.password"
          required
          id="password"
          name="password"
          type="password"
        />
      </mat-form-field>

      <div class="col-12 text-center text-lg-start">
        <button
          mat-flat-button
          color="primary"
          class="btn"
          [class.disabled]="!loginForm.form.valid"
          type="submit"
          name="action"
        >
          Login
        </button>
        <span class="register light">
          <i>
            <a [routerLink]="['/register']">Registrieren</a> /
            <a [routerLink]="['/reset']">Passwort vergessen</a>
          </i>
        </span>
      </div>
    </form>

    <div class="col-12 col-lg-6 offset-l3" *ngIf="hasError">
      <div class="col s12 error light">
        Du konntest nicht eingeloggt werden! Passwort oder E-Mail falsch?
        Benutzer bereits aktiviert?
      </div>
    </div>
  </div>
</div>
