<div class="container my-4">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="d-flex justify-content-center justify-content-lg-start">
        <h1 class="teal-text">Benutzerdaten</h1>
      </div>
    </div>

    <form (ngSubmit)="settingsForm.form.valid && update()" #settingsForm="ngForm" class="col-12 col-lg-8 offset-lg-2">
      <mat-form-field class="col-12">
        <mat-label>Vorname</mat-label>
        <input matInput [(ngModel)]="user.firstname" required id="firstname" name="firstname" type="text" />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Nachname</mat-label>
        <input matInput [(ngModel)]="user.lastname" required id="lastname" name="lastname" type="text" />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="user.email" required id="email" name="email" type="email" email />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Telefon</mat-label>
        <input matInput [(ngModel)]="user.phone" required id="phone" name="phone" type="text" />
      </mat-form-field>

      <div class="col-12 text-center text-lg-start">
        <button mat-flat-button color="primary" class="btn me-2" [class.disabled]="!settingsForm.form.valid" type="submit" name="action">Speichern</button>
        <button mat-flat-button color="accent" class="btn" type="button" (click)="location.back()">Abbrechen</button>
      </div>
    </form>
  </div>
</div>
