<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center justify-content-lg-start">
        <h1 class="teal-text">Termin bearbeiten</h1>
      </div>
    </div>

    <form (ngSubmit)="editEventForm.form.valid && edit()" #editEventForm="ngForm" *ngIf="event">
      <div class="row">
        <h3 class="my-2 col-12 light">Allgemeines</h3>

        <mat-form-field class="col-12">
          <mat-label>Bezeichnung</mat-label>
          <input matInput [(ngModel)]="event.name" required id="name" name="name" type="text" />
        </mat-form-field>

        <mat-form-field class="col-12 col-lg-3">
          <mat-label>Teilnehmer</mat-label>
          <input matInput [(ngModel)]="event.max_participants" id="max_participants" name="max_participants" number type="number" />
        </mat-form-field>
      </div>

      <div class="divider"></div>

      <div class="row">
        <h3 class="my-2 col-12 light">Beschreibung</h3>

        <div>
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
          <ngx-editor class="col-12" [editor]="editor" [(ngModel)]="event.description" name="content"></ngx-editor>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row mt-2">
        <h3 class="my-2 col-12 light">Datum</h3>

        <mat-form-field class="col-12 col-lg-3">
          <mat-label>Datum</mat-label>
          <mtx-datetimepicker #datetimePicker type="date" [multiYearSelector]="false" [touchUi]="true"></mtx-datetimepicker>
          <input [mtxDatetimepicker]="datetimePicker" [(ngModel)]="event.date" matInput required />
          <mtx-datetimepicker-toggle [for]="datetimePicker" matSuffix></mtx-datetimepicker-toggle>
        </mat-form-field>

        <mat-form-field class="col-12 col-lg-3">
          <mat-label>Zeit von</mat-label>
          <mtx-datetimepicker
            #datetimePickerTimeFrom
            type="time"
            [twelvehour]="false"
            [timeInterval]="15"
            [touchUi]="touchUI"
            [timeInput]="true"
          ></mtx-datetimepicker>
          <input [mtxDatetimepicker]="datetimePickerTimeFrom" [(ngModel)]="time_from" matInput required id="timefrom" name="timefrom" />
          <mtx-datetimepicker-toggle [for]="datetimePickerTimeFrom" matSuffix></mtx-datetimepicker-toggle>
        </mat-form-field>

        <mat-form-field class="col-12 col-lg-3">
          <mat-label>Zeit bis</mat-label>
          <mtx-datetimepicker
            #datetimePickerTimeTo
            type="time"
            [twelvehour]="false"
            [timeInterval]="15"
            [touchUi]="touchUI"
            [timeInput]="true"
          ></mtx-datetimepicker>
          <input [mtxDatetimepicker]="datetimePickerTimeTo" [(ngModel)]="time_to" matInput required id="timeto" name="timeto" />
          <mtx-datetimepicker-toggle [for]="datetimePickerTimeTo" matSuffix></mtx-datetimepicker-toggle>
        </mat-form-field>
      </div>

      <div class="divider"></div>

      <div class="row">
        <h3 class="my-2 col-12 light">Anmeldefrist</h3>

        <mat-form-field class="col-12 col-lg-3">
          <mat-label>Anmeldefrist</mat-label>
          <mtx-datetimepicker
            #datetimePickerSignIn
            type="datetime"
            [multiYearSelector]="false"
            [twelvehour]="false"
            [timeInterval]="15"
            [touchUi]="touchUI"
            [timeInput]="true"
          ></mtx-datetimepicker>
          <input [mtxDatetimepicker]="datetimePickerSignIn" [(ngModel)]="event.sign_in" matInput id="anmeldefrist" name="anmeldefrist" />
          <mtx-datetimepicker-toggle [for]="datetimePickerSignIn" matSuffix></mtx-datetimepicker-toggle>
        </mat-form-field>
      </div>

      <div class="divider"></div>

      <div class="row">
        <h3 class="my-2 col-12 light">Abmeldefrist</h3>

        <mat-form-field class="col-12 col-lg-3">
          <mat-label>Abmeldefrist</mat-label>
          <mtx-datetimepicker
            #datetimePickerSignOut
            type="datetime"
            [multiYearSelector]="false"
            [twelvehour]="false"
            [timeInterval]="15"
            [touchUi]="touchUI"
            [timeInput]="true"
          ></mtx-datetimepicker>
          <input [mtxDatetimepicker]="datetimePickerSignOut" [(ngModel)]="event.sign_out" matInput id="abmeldefrist" name="abmeldefrist" />
          <mtx-datetimepicker-toggle [for]="datetimePickerSignOut" matSuffix></mtx-datetimepicker-toggle>
        </mat-form-field>
      </div>

      <div class="divider"></div>

      <div class="col-12 list-style-none">
        <h3 class="my-2 col-12 light">Anmeldungen</h3>

        <ul class="collection" *ngIf="participants.length">
          <li class="collection-item d-flex" *ngFor="let participant of participants">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <div class="d-flex justify-content-start align-items-center">
                <span>
                  {{ participant.user.firstname + " " + participant.user.lastname }}
                </span>
                <span *ngIf="participant.trial" class="grey-text text-darken-1 light ms-3">
                  <i>{{ participant.user.phone }}</i>
                </span>
              </div>

              <div>
                <mat-icon
                  *ngIf="participant.trial"
                  fontIcon="fitness_center"
                  color="primary"
                  matTooltip="Anmeldung zum Probetraining"
                  matTooltipPosition="above"
                  class="me-3"
                ></mat-icon>

                <mat-icon (click)="removeUser(participant)" fontIcon="delete" color="warn"></mat-icon>
              </div>
            </div>
          </li>
        </ul>

        <div *ngIf="!participants.length">
          <span><i>Es gibt noch keine Anmeldungen.</i></span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="col-12 submit text-center text-lg-start mt-4">
        <button mat-flat-button color="primary" class="btn me-2" [class.disabled]="!editEventForm.form.valid" type="submit" name="action">
          Termin speichern
        </button>
        <button mat-flat-button color="accent" type="button" class="btn" (click)="location.back()">Abbrechen</button>
      </div>
    </form>
  </div>
</div>
