<div class="container create-event">
  <div class="row title">
    <div class="col s12">
        <h3 class="header detail-title teal-text center-on-mobile">Termin editieren</h3>
    </div>
  </div>

  <form (ngSubmit)="editEventForm.form.valid && edit()" #editEventForm="ngForm" *ngIf="event">
    <div class="row">
      <div class="col s12 subtitle">Allgemeines</div>
      <mz-input-container class="col s12 l10">
        <input mz-input [label]="'Bezeichnung'" id="name" name="name" type="text" [(ngModel)]="event.name" required>
      </mz-input-container> 
      <mz-input-container class="col s12 l2">
        <input mz-input [label]="'Teilnehmer'" id="max_participants" name="max_participants" type="number" [(ngModel)]="event.max_participants">
      </mz-input-container>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col s12 subtitle">Beschreibung</div>
    </div>

    <ckeditor class="ckeditor flow-text" [config]="ckeConfig" [(ngModel)]="event.description" debounce="500" name="description"></ckeditor>

    <div class="divider aftereditor"></div>

    <div class="row">
      <div class="col s12 subtitle">Datum</div>
      <mz-datepicker-container class="col s12 l4">
        <input mz-datepicker [label]="'Datum'" [options]="optionsDate" [(ngModel)]="event.date" id="datum" name="datum" type="text" required>
      </mz-datepicker-container> 
      <mz-timepicker-container class="col s6 l4">
        <input mz-timepicker [label]="'Zeit von'" [options]="optionsTime" [(ngModel)]="time_from" id="timefrom" name="timefrom" type="text" required>
      </mz-timepicker-container> 
      <mz-timepicker-container class="col s6 l4">
        <input mz-timepicker [label]="'Zeit bis'" [options]="optionsTime" [(ngModel)]="time_to" id="timeto" name="timeto" type="text">
      </mz-timepicker-container> 
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col s12 subtitle">Anmeldefrist</div>
      <mz-datepicker-container class="col s12 l6">
        <input mz-datepicker [label]="'Datum'" [options]="optionsDate" [(ngModel)]="datum_anmeldefrist" id="datumanmeldefrist" name="datumanmeldefrist" type="text">
      </mz-datepicker-container> 
      <mz-timepicker-container class="col s12 l6">
        <input mz-timepicker [label]="'Zeit'" [options]="optionsTime" [(ngModel)]="time_anmeldefrist" id="timeanmeldefrist" name="timeanmeldefrist" type="text">
      </mz-timepicker-container>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col s12 subtitle">Abmeldefrist</div>
      <mz-datepicker-container class="col s12 l6">
        <input mz-datepicker [label]="'Datum'" [options]="optionsDate" [(ngModel)]="datum_abmeldefrist" id="datumabmeldefrist" name="datumabmeldefrist" type="text">
      </mz-datepicker-container> 
      <mz-timepicker-container class="col s12 l6">
        <input mz-timepicker [label]="'Zeit'" [options]="optionsTime" [(ngModel)]="time_abmeldefrist" id="timeabmeldefrist" name="timeabmeldefrist" type="text">
      </mz-timepicker-container>
    </div>

    <div class="divider"></div>

    <div class="col s12 anmeldungen flow-text">
      <h5 class="light">Anmeldungen</h5> 
      <ul class="collection" *ngIf="event.participant_ids.length">
        <li class="collection-item valign-wrapper" *ngFor="let participant of event.participant_ids">
          <span class="title">{{participant.firstname}} {{participant.lastname}}</span>
          <span *ngIf="participant.trial" class="grey-text text-darken-1 light phone"><i>{{participant.phone}}</i></span>
          <div class="icon-container">
            <a class="secondary-content" (click)="removeUser(participant)"><i class="material-icons">delete</i></a>
            <i *ngIf="participant.trial" class="material-icons secondary-content" data-tooltip="Anmeldung zum Probetraining" mz-tooltip [tooltip]="'Anmeldung zum Probetraining'">fitness_center</i>
          </div>
        </li>
      </ul>
      <div *ngIf="!event.participant_ids.length">
        <span class="flow-text"><i>Es gibt noch keine Anmeldungen.</i></span>
      </div>
    </div>

    <div class="divider"></div>

    <div class="col s12 submit center-on-mobile">
      <button class="btn waves-effect waves-light" [class.disabled]="!editEventForm.form.valid" type="submit" name="action">Termin speichern</button>&nbsp;
      <a class="btn waves-effect waves-light red" (click)="goBack()">Abbrechen</a>
    </div>
  </form>
</div>
 